.top {
    background-color: rgb(50, 139, 190);
}

.alert{
    width: 20%;
}

.card-header {
    background-color: rgb(50, 139, 190);
}

a:hover {
    background-color: lightblue;
}

h2 {
    text-align: center;
}

img {
    max-width:300px;
    max-height:300px;
}