{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Categories</h2>
    <hr>

    <div class="container">
        <h3>Available categories</h3>
        <ul>
            <li><a href="categories/fashion">Fashion</a></li>
            <li><a href="categories/electronics">Electronics</a></li>
            <li><a href="categories/toys">Toys</a></li>
            <li><a href="categories/furniture">Furniture</a></li>
            <li><a href="categories/appliances">Appliances</a></li>
            <li><a href="categories/clothing">Clothing</a></li>
            <li><a href="categories/footwear>">Footwear</a></li>
        </ul>
    </div>

{% endblock %}