{% extends "auctions/layout.html" %}

{% block body %}

    {% for i in info %}
        <h2>{{ i.title }}</h2>
        <hr>
        
        <div class="container">
        <div class="card text-center border-primary">
            <div class="card-body">
                <img class="card-img-top" src="{{ i.image }}" alt="{{ i.title }}">
                <br><br>
                <div class="card-text">
                    <h3 style="color: green;">Current price: ${{ i.price }}</h3>
                    <br>
                    <h3>Details</h3>
                    <ul>
                        <li>{{ i.description }}</li>
                        <li>Listed by <strong>{{ i.user }}</strong> at <strong>{{ i.date }}</strong></li>
                        <li>List category: {{ i.category }}</li>
                    </ul>
                </div>
                {% if user.is_authenticated %}
                    {% if lister %}
                        <form method="POST" action="{% url 'closebid' %}">

                            {% csrf_token %}
                            <input type="hidden" name="itemID" value="{{ i.id }}">
                            <input type="hidden" name="current_user" value="{{ user.username }}">
                            <button class="btn btn-danger" type="submit">Close auction</button>

                        </form>
                        <br>
                    {% endif %}
                    {% if watchlisted %}
                        <form method="POST" action="{% url 'remove' %}">

                            {% csrf_token %}
                            <input type="hidden" name="theproduct" value="{{ i.title }}">
                            <input type="hidden" name="userID" value="{{ user.id }}">
                            <input type="hidden" name="itemID" value="{{ i.id }}">
                            <button class="btn btn-primary" type="submit">Remove from watchlist</button>

                        </form>
                    {% elif notwatchlisted %}
                        <form method="POST" action="{% url 'list' %}">

                            {% csrf_token %}
                            <input type="hidden" name="userID" value="{{ user.id }}">
                            <input type="hidden" name="itemID" value="{{ i.id }}">
                            <button class="btn btn-primary" type="submit">Add to watchlist</button>

                        </form>
                    {% endif %}
                    <br>
                    <form method="POST" action="{% url 'bid' %}">

                        {% csrf_token %}
                        <input type="hidden" name="itemid" value="{{ i.id }}">
                        <button class="btn btn-success" type="submit">Bid on the item</button>

                    </form>
                {% endif %}
                <br>
                <h2>Comments</h2>
                <div class="card text-center border-success">
                    <div class="card-text">
                        {% for i in comments %}
                            <h5><strong>{{ i.commenter }}</strong>: {{ i.comment }}</h5>
                        {% empty %}
                            <br>
                            <h5>No comments have been made on this list yet.</h5>
                            <br>
                        {% endfor %}
                    </div>
                    <form method="POST" action="{% url 'post_comment' %}">

                        {% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" name="commenter_name" value="{{ user.username }}">
                            <input type="hidden" name="itemID" value="{{ i.id }}">
                            <input type="text" class="form-control" name="comment" placeholder="Post a comment...">
                            <br>
                            <button class="btn btn-secondary" type="submit">Post comment</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        </div>
    {% endfor %}

{% endblock %}